.home-container {
    padding: 30px;
    background-color: #fdf6ec;
    min-height: 100vh;
}

/*added a style to the home page title*/
.home-title {
    font-size: 28px;
    font-weight: 500;
    color: #3d2b1f;
    margin-bottom: 24px;
}

/*display the recipe in a grid */
.recipes-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}